:root {
  --blue: #A5F1E9;
  --blue-2: #7FE9DE;
  --yellow: #FFF6BF;
  --yellow-2: #FFEBAD;
  --difbej: #F0E9D2;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: sans-serif;
}


body {
  background-color: white;
}

nav {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
}
.logo{
  font-size: 30px;
  font-weight: 700;
  color: red;
}

nav a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  color: red;
  font-weight: 600;
}


.nav-links{
  list-style: none;
  display: flex;
  padding: 8px 12px;
}
